<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/buscarBedel.css">
    <title>Buscar Bedel</title>
</head>
<body>
    <header class="header">
        <ul class="menu-ul">
            <li><a href="/admin">Inicio</a></li>
            <li><a href="/admin/buscarBedel">Buscar Bedel</a></li>
            <li><a href="/admin/registrarBedel">Registrar Bedel</a></li>
        </ul>
    </header>
        <div class="usuario">
            <img src="/img/USUARIO.png" alt="USUARIO" class="imagen-usuario">
            <div class="nombre-usuario">
                <p>Nombre_de_Usuario</p>
            </div>
        </div>
    </header>
    <div class="h1-titulo">
        <h1>BUSCAR BEDEL</h1>
    </div>

    <div class="container">
        <p>
            <label for="LabelBuscar" class="buscar_bedel_filtro">Valor de busqueda</label>
            <input type="text" name="Valor de busqueda" id="valor_busqueda">
        </p>
        <p>
            <label for="Filtro*" class="Filtro">Como buscar:</label>
            <select name="select" id="filtro" >
                <option value="0" selected >Seleccion de busqueda</option>
                <option value="1">Usuario</option>
                <option value="2">Nombre</option>
                <option value="3">Apellido</option>
                <option value="4">Turno</option>
            </select>

        </div>
        <div id="bedel-list">
            <!-- Aquí se llenará la lista dinámicamente -->
        </div>
            
        </p>
        <button  class="boton-buscar" type="button" id="buscar" on>Buscar</button>
    <script src="/js/buscarBedel.js"></script>
</body>
</html>