<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/presentacion.css">
    <title>Gestion de Aula | FRSF</title>
</head>
<body>
    <div class="h1-titulo">
        <h1>SISTEMA DE GESTIÓN DE AULAS | UTN - FRSF</h1>
    </div>
    <div class="container">
        <img src="../resources/UTN_logo.png" alt="UTN Logo" class="logo">
        <div class="linea-vertical"></div>
        <div class="boton-login">
            <button type="button" id="login" onclick="location.href='menuAdministrador.html'">Iniciar Sesión</button>
        </div>
    </div>
</body>
</html>