<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reservaPeriodica.css">
    <title>Reservar Aula</title>
</head>
<body>

    <!-- Cabecera -->

    <header class="header">
        <div class="menu-ul">
            <button class="btn" type="button" onclick="location.href='/bedel'">Inicio</button>
            <button class="btn" type="button" onclick="location.href='/bedel/reserva/crear'">Registrar Reserva</button>
            <button class="btn" type="button" onclick="location.href='/bedel/aula/buscar'">Buscar aula</button>
            <button class="btn" type="button" onclick="location.href='/bedel/reserva/buscar'">Mis Reservas</button>
        </div>
        <div class="usuario">
            <img src="/img/USUARIO.png" alt="USUARIO" class="imagen-usuario">
            <div class="nombre-usuario">
                <p id="usuario-nombre">Nombre_de_Usuario</p>
            </div>
        </div>
    </header>

    <div class="h1_titulo">
        <h1>REGISTRAR RESERVA PERIODICA</h1>
    </div>
    <div class="container">
        <div class="fechas-reservas">
            <div class="sub-container">
                <select name="select" id="dia" required class="lista-dias">
                    <option value="" selected disabled>Dia</option>
                        <option value="MONDAY">Lunes</option>
                        <option value="TUESDAY">Martes</option>
                        <option value="WEDNESDAY">Miercoles</option>
                        <option value="THURSDAY">Jueves</option>
                        <option value="FRIDAY">Viernes</option>
                        <option value="SATURDAY">Sabados</option>
                </select>
                <p>
                    <label for="hora">Hora Inicio:</label>
                    <input type="time" id="hora" name="hora" placeholder="HH:MM">
                </p>
                <p>
                    <label for="hora">Duracion:</label>
                    <input type="number" id="duracion" name="hora" placeholder="MMM">
                </p>
                
            </div>
            <button class="agregar-dia">Agregar Dia</button>
            <table class="dias-agregado">
                <tr>
                    <th>Dia</th>
                    <th>Hora Inicio</th>
                    <th>Duracion</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Lunes</td>
                    <td>08:00</td>
                    <td>2 horas</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="linea-vertical"></div>

        <div class="campos-no-habilitados">
            <div class="radio">
                <p class="radio-button">
                    <label>
                        <input type="radio" name="opcion" value="opcion1"> Anual
                    
                    <label>
                        <input type="radio" name="opcion" value="opcion2"> 1er Cuatrimestre
                    </label>
                    <label>
                        <input type="radio" name="opcion" value="opcion3"> 2do Cuatrimestre
                    </label>
                </p>
            </div>
            
            <p>
                <label for="CantidadAlumnos*" class="colocar_cantidad">*CantidadAlumnos</label>
                <input type="text" name="introducir_cantidad" id="nombre" required placeholder="Ingrese la cantidad">
            </p>
            <p>
                <label for="docente*" class="colocar_docente">*Docente Solicitante:</label>
                <select name="select" id="docente" required>
                <option value="" selected disabled>Seleccione el docente</option>
                </select>
            </p>
                <p>
                    <label for="catedra*" class="colocar_catedra">*</label>
                    <select name="select" id="catedra" required>
                        <option value="" selected disabled>Seleccione la catedra</option>
                    </select>
                </p>
                <p>
                    <label for="coreeo*" class="colocar_correo">*Correo Electrónico:</label>
                    <input type="correo" name="introducir_correo" id="coreeo" required placeholder="Correo Electrónico">
                </p>
                <p>
                    <label for="tipo-aula*" class="colocar_tipo">*Tipo de Aula:</label>
                    <select name="select" id="turno" required>
                        <option value="" selected disabled>Seleccione el Tipo de Aula</option>
                        <option value="Multimedia">Multimedia</option>
                        <option value="Informatica">Informatica</option>
                        <option value="SinRescursos">Sin Recursos</option>
                    </select>
                </p>
                
                <p class="aviso">
                    <span>*</span> Campos obligatorios.
                </p>
                <p class="btn-container">
                    <button class="btn-cancelar" type="button" id="cancelar" onclick="location.href='/bedel/reserva/crear'">Cancelar</button>
                    <button class="btn-aceptar" type="button" id="registrar">Guardar</button>
                </p>
        </div>
    </div>
   
</body>
</html>

