<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reservaEsporadica.css">
    <title>Reserva Esporadica</title>
</head>
<body>
    <header class="header">
        <ul class="menu-ul">
            <li><a href="/bedel">Inicio</a></li>
            <li><a href="/bedel/seleccionarTipoReserva">Registar Reserva</a></li>
            <li><a href="/bedel/buscarAulas">Buscar Aulas</a></li>
            <li><a href="/bedel/buscarReservas">Reservas</a></li>
        </ul>
    
        <div class="usuario">
            <img src="/img/USUARIO.png" alt="USUARIO" class="imagen-usuario">
            <div class="nombre-usuario">
                <p>Nombre_de_Usuario</p>
            </div>
        </div>
    </header>
    <div class="h1_titulo">
        <h1>REGISTRAR RESERVA ESPORADICA</h1>
    </div>
    <div class="container">
        <div class="fechas-reservas">
            <div class="sub-container">
                <p>
                    <label for="fecha">Selecciona una fecha:</label>
                    <input type="date" id="fecha" name="fecha" class="date-dia">
                </p>
                <p>
                    <label for="hora">Hora Inicio:</label>
                    <input type="number" id="hora" name="hora" placeholder="HH:MM">
                </p>
                <p>
                    <label for="hora">Duracion:</label>
                    <input type="number" id="hora" name="hora" placeholder="HH:MM">
                </p>
                
            </div>
            <button class="agregar-dia">Agregar Dia</button>
            <table class="dias-agregado">
                <tr>
                    <th>Dia</th>
                    <th>Hora Inicio</th>
                    <th>Duracion</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Lunes</td>
                    <td>08:00</td>
                    <td>2 horas</td>
                    <td><button>Eliminar</button></td>
                </tr>
            </table>
        </div>

        <div class="linea-vertical"></div>

        <div class="campos-no-habilitados">
            <p>
                <label for="CantidadAlumnos*" class="colocar_cantidad">*CantidadAlumnos</label>
                <input type="text" name="introducir_cantidad" id="nombre" required placeholder="Ingrese la cantidad">
            </p>
            <p>
                <label for="docente*" class="colocar_docente">*Docente Solicitante:</label>
                <select name="select" id="docente" required>
                <option value="" selected disabled>Seleccione el docente</option>
                </select>
            </p>
                <p>
                    <label for="catedra*" class="colocar_catedra">*</label>
                    <select name="select" id="catedra" required>
                        <option value="" selected disabled>Seleccione la catedra</option>
                    </select>
                </p>
                <p>
                    <label for="coreeo*" class="colocar_correo">*Correo Electrónico:</label>
                    <input type="correo" name="introducir_correo" id="coreeo" required placeholder="Correo Electrónico">
                </p>
                <p>
                    <label for="tipo-aula*" class="colocar_tipo">*Tipo de Aula:</label>
                    <select name="select" id="turno" required>
                        <option value="" selected disabled>Seleccione el Tipo de Aula</option>
                        <option value="Multimedia">Multimedia</option>
                        <option value="Informatica">Informatica</option>
                        <option value="SinRescursos">Sin Recursos</option>
                    </select>
                </p>
                
                <p class="aviso">
                    <span>*</span> Campos obligatorios.
                </p>
                <p class="btn-container">
                    <button class="btn-cancelar" type="button" id="cancelar"><a class="btn-cancelar" href="/bedel/seleccionarTipoReserva">Cancelar</a></button>
                    <button class="btn-guardar" type="button" id="registrar" onclick="">Guardar</button>
                </p>
        </div>
    </div>
        
</body>
</html>