<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/seleccionarTipoReserva.css">
    <script src="../js/seleccionarTipoReserva.js"></script>
    <title>Reservar Aula</title>
</head>
<body>

    <!-- Cabecera -->

    <header class="header">
        <ul class="menu-ul">
            <li><a href="/bedel">Inicio</a></li>
            <li><a href="/bedel/seleccionarTipoReserva">Registar Reserva</a></li>
            <li><a href="/bedel/buscarAulas">Buscar Aulas</a></li>
            <li><a href="/bedel/buscarReservas">Reservas</a></li>
        </ul>
        <div class="usuario">
            <img src="/img/USUARIO.png" alt="USUARIO" class="imagen-usuario">
            <div class="nombre-usuario">
                <p>Nombre_de_Usuario</p>
            </div>
        </div>
    </header>

    <div class="h1_titulo">
        <h1>SELECCIONAR TIPO DE RESERVA</h1>
    </div>
    <div class="container">
        <div class="botones-reserva">
            <button type="button" id="Periódica"><a href="/bedel/reservaPeriodica">Periodica</a></button>
            <button type="button" id="Esporadica"><a href="/bedel/reservaEsporadica">Esporadica</a></button>
        </div>

        <div class="linea-vertical"></div>
        <div></div>
        <div class="espacio"></div>
    </div>
    <p class="btn-container">
        <button class="btn-cancelar" type="button" id="cancelar"><a href="/bedel">Cancelar</a></button>
    </p>
</body>
</html>

